# {05D8C294-F295-4dfb-9D01-096BD04049F4}
# GenApi persistence file (version 3.4.2)
# RemoteDevice = Sentech::STC_U3V_SO2 -- Sentech Camera Interface -- Device version = 2.0.4 -- Product GUID = 77824E4B-C036-49F6-ACCB-DD9C0594D950 -- Product version GUID = FF7616A9-576F-405A-B29F-14D74F669B1E
DeviceLinkSelector	0
DeviceLinkSelector	0
RegionSelector	Region0
RegionSelector	Region0
RegionSelector	Region0
RegionSelector	Region0
RegionSelector	Region0
ImageComponentSelector	Intensity
AcquisitionFrameRate	10.2252
TriggerMode	{TriggerSelector=FrameStart}	Off
TriggerMode	{TriggerSelector=ExposureStart}	Off
TriggerMode	{TriggerSelector=ExposureEnd}	Off
TriggerSelector	FrameStart
TriggerSelector	FrameStart
TriggerSelector	FrameStart
ExposureMode	Timed
ExposureTime	{ExposureTimeSelector=Common}	97616.2
ExposureTimeSelector	Common
ExposureAuto	Off
Gain	{GainSelector=AnalogAll}	0
Gain	{GainSelector=DigitalAll}	0
GainSelector	AnalogAll
GainAuto	{GainSelector=AnalogAll}	Off
GainSelector	AnalogAll
GainSelector	AnalogAll
GainSelector	AnalogAll
GainSelector	AnalogAll
BlackLevel	{ImageComponentSelector=Intensity	BlackLevelSelector=AnalogAll}	7
ImageComponentSelector	Intensity
BlackLevelSelector	AnalogAll
BalanceRatio	{BalanceRatioSelector=Red}	229
BalanceRatio	{BalanceRatioSelector=Green}	128
BalanceRatio	{BalanceRatioSelector=Blue}	272
BalanceRatio	{BalanceRatioSelector=GreenR}	128
BalanceRatio	{BalanceRatioSelector=GreenB}	128
BalanceRatioSelector	Red
BalanceWhiteAuto	Off
Gamma	1
LineMode	{LineSelector=Line0}	Input
LineMode	{LineSelector=Line1}	Input
LineMode	{LineSelector=Line2}	Input
LineSelector	Line0
LineInverter	{LineSelector=Line0}	1
LineInverter	{LineSelector=Line1}	1
LineInverter	{LineSelector=Line2}	1
LineSelector	Line0
LineSelector	Line0
UserOutputValue	{UserOutputSelector=UserOutput0}	0
UserOutputValue	{UserOutputSelector=UserOutput1}	0
UserOutputValue	{UserOutputSelector=UserOutput2}	0
UserOutputSelector	UserOutput0
StrobeOutDelay	30
StrobeOutOnTime	32
TriggerOutDelay	0
TriggerOutOnTime	32
LineDeviceResetMode	Off
LineDebounceTime	1
EventNotification	{EventSelector=ExposureStart}	Off
EventNotification	{EventSelector=ExposureEnd}	Off
EventSelector	ExposureEnd
ChunkSelector	Image
