.scroll-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.show-img-master{
    background-color: rgb(45, 55, 55);
    width:100%;
    height: 16%;
    display: flex;
    border-radius: 5px;
}

.img-box{
    width:100%;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    align-content: flex-start;
    border: 1.5px solid rgba(31, 18, 18, 0.35);
    background-color: rgb(7, 27, 20);
}


.img-box div img{
    width:105px;
    height: auto;
    object-fit: cover;
    border-radius: 2px;
    margin-top: -5px;
}

.img-box div div {
    margin-top: -3px;
    font-size: 8px;
    text-align: center;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    color: black;
  
}
.img-box div{
    margin-top:5px;
    box-sizing: content-box;
    transition: 0.2s ease;
    background-color: rgb(17, 234, 223);
    height: fit-content;
    padding-top: 60px;
}

.img-box div:hover{
    transform: translateY(-2px);
    box-shadow:
        0 4px 12px rgba(0,0,0,0.35),
        inset 0 1px 0 rgba(255,255,255,0.3);
}

.scroll-container::-webkit-scrollbar{
    width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb{
    background: rgba(233, 236, 237, 0.732);
    border-radius: 20px;
}

.box-bao-ve-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid rgba(31, 18, 18, 0.35);
    border-radius: 10px;
    background-color: rgba(52, 153, 190, 0.903);

}
.box-bao-ve-product div{
    font-size: 12px;
    padding-top: 3px;
    font-weight: 00;
    color: rgb(244, 241, 241);
    font-weight: 600;

}